@keyframes changeColors{
    0% {
        fill: #f1c40f;
        stroke: #f1c40f;
        color: #f1c40f;
    }
    50% {
        fill: #e67e22;
        stroke: #e67e22;
        color: #e67e22;
    }
    100% {
        fill: #f1c40f;
        stroke: #f1c40f;
        color: #f1c40f;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateClound {
    100% {
        transform: rotate(360deg);
    }
}

body{
    background: rgb(41,127,184);
    overflow:hidden;
}

.sun {
    width: 300px;
    height: 300px;
    z-index: 50;
}

.rotation{
    animation: rotate 25s linear infinite, changeColors 3s 0s linear infinite;
}

.stroke{
    stroke-width: 30;
    stroke-dasharray: 3;
    stroke-dashoffset: 0;
}

